@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Colors primary */

    /* Text */

--clr-dark-blue: hsl(238, 29%, 16%);
--clr-soft-red: hsl(14, 88%, 65%);

    /* Gradient */

--clr-soft-violet: hsl(273, 75%, 66%);
--clr-soft-blue: hsl(240, 73%, 65%);

    /* Colors neutral */

    /* Text */

--clr-very-dark-blue: hsl(237, 12%, 33%);
--clr-dark-gray-blue: hsl(240, 6%, 50%);

    /* Divider */

--clr-light-gray-blue: hsl(240, 5%, 91%);
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-dark-gray-blue);
    background: linear-gradient(180deg, hsl(273, 75%, 66%), 50%, hsl(240, 73%, 65%));
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

summary, details {
    list-style: none;
}

.container {
    width: 20.625rem;
    height: 100%;
    background-color: white;
    border-radius: 1.5rem;
    position: relative;
    row-gap: 3.75rem;
    padding: 2.125rem 0 3rem;
    box-shadow: 0px 10px 40px hsl(257, 45%, 55%);
}

.container .image-container {
    position: relative;
    width: 100%;
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    margin-top: -8.875rem;
    margin-left: 0;
    margin-bottom: 3.5rem;
}

.container .image {
    background-image: url(./images/illustration-woman-online-mobile.svg);
    background-position: top center;
    width: 15rem;
    height: 11.25rem;
    position: absolute;
}

.container .image-shadow {
    background-image: url(./images/bg-pattern-mobile.svg);
    position: absolute;
    width: 15rem;
    height: 6.5rem;
    top: 6.75rem;
    left: 2.7rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-very-dark-blue);
    text-align: center;
    margin-bottom: 1rem;
}

.container .faqs-section {
    width: 20.438rem;
    padding: 0 1.5rem;
}

.container .faq {
    padding: 1rem 0;
    border-bottom: 1px solid var(--clr-light-gray-blue);
    text-align: left;
    position: relative;
}

.faq[open] .question {
    margin-bottom: 0.75rem;
}

.faq[open] .question::before {
    background-image: url(./images/icon-arrow-down.svg);
    transform: rotate(180deg);
}

.faq[open] .answer {
    height: 100%;
    transform: translateY(0%);
    transition: visibility 0.3s, transform 0.3s, height 0.3s;
    visibility: visible;
    padding-right: 1rem;
    margin-bottom: 0.25rem;
}

.container .question {
    color: var(--clr-very-dark-blue);
    font-size: 0.8rem;
    position: relative;
    cursor: pointer;
}

.question::before {
    content: "";
    top: 30%;
    right: 0;
    position: absolute;
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    width: 0.8rem;
    height: 0.6rem;
}

.question:hover {
    color: var(--clr-soft-red);
}

.question:focus {
    color: var(--clr-very-dark-blue);
    font-weight: 700;
}

.container .answer {
    color: var(--clr-dark-gray-blue);
    width: 100%;
    height: 0;
    visibility: hidden;
    transform: translateY(-50%);
}

@media (min-width: 62em) {
    .container {
        width: 57.5rem;
        min-height: 31.813rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container .image-container {
        position: absolute;
        top: 0;
        left: 0;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        z-index: 3;
    }

    .container .image {
        background-image: url(./images/illustration-woman-online-desktop.svg);
        background-size: cover;
        width: 29.5rem;
        height: 22.438rem;
        top: 4.375rem;
        left: -5.25rem;
    }

    .container::before {
        content: "";
        position: absolute;
        background-image: url(./images/illustration-box-desktop.svg);
        top: 12.7rem;
        left: -5.8rem;
        height: 11.5rem;
        width: 11.9rem;
        z-index: 4;
    }

    .container .image-shadow {
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: cover;
        top: -18.5rem;
        left: -36.125rem;
        height: 59rem;
        width: 61rem;
        z-index: -1;
    }

    .container .text-container {
        margin-left: auto;
        width: 50%;
        padding: 2.125rem 5.874rem 2.375rem 0rem;
        align-self: center;
     }

     .container h1 {
        text-align: left;
        margin-bottom: 1.5rem;
     }

     .container .question {
        font-size: 0.875rem;
     }

     .question::before {
        right: 1rem;
     }

     .container .faqs-section {
        padding: 0;
     }

     .faq[open] .question {
        margin-bottom: 0.5rem;
     }

     .faq[open] .answer {
        margin-bottom: 0.25rem;
     }

}

