@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {

    /* Colors primary */

    /* Text */

--clr-dark-blue: hsl(238, 29%, 16%);
--clr-soft-red: hsl(14, 88%, 65%);

    /* Gradient */

--clr-soft-violet: hsl(273, 75%, 66%);
--clr-soft-blue: hsl(240, 73%, 65%);

    /* Colors neutral */

    /* Text */

--clr-very-dark-blue: hsl(237, 12%, 33%);
--clr-dark-gray-blue: hsl(240, 6%, 50%);

    /* Divider */

--clr-light-gray-blue: hsl(240, 5%, 91%);
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-dark-gray-blue);
    background: linear-gradient(180deg, hsl(273, 75%, 66%), 50%, hsl(240, 73%, 65%));
    min-height: 100vh;
    padding: 3rem 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

summary, details {
    list-style: none;
}



.container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-very-dark-blue);
    text-align: center;
}

.container .question {
    color: var(--clr-very-dark-blue);
    font-size: 1rem;
}

.container .question:hover {
    color: var(--clr-soft-red);
}

.container .answer {
    color: var(--clr-dark-gray-blue);
}

